<!DOCTYPE html>
<html lang="en" ng-app="LibraryApp">
  <head>
    <title>Library</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container-fluid" id="topbar">
      <div class="row-fluid" ng-controller="ApplicationCtrl">
        <div class="span2" >
          <!--Sidebar content-->

          <% if user_signed_in? %>
            <form class="form-search">
              <input type="text" class="input-medium search-query" placeholder="Buscar">
              <!--<button type="submit" class="btn">Search</button>-->
            </form>
          <% end %>

        </div>

        <div class="span9">
          <!--Body content-->
          <div class="login">
            <%= yield %>
          </div>
          <% if user_signed_in? %>
            <div ng-view></div>
          <% end %>
        </div>

        <div class="span1 logout">
          <!--Logout content-->
          <% if user_signed_in? %>
            <%= link_to 'Sair', destroy_user_session_path,
              method: :delete, title: 'Fazer logout', :'data-placement' => "below" %>
          <% end %>
        </div>
      </div>
    </div>

  </body>
</html>
