<!DOCTYPE html>
<html lang="en" ng-app="LibraryApp">
  <head>
    <title>Library</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2" >
          <!--Sidebar content-->
          {{1+2}}
        </div>

        <div class="span9">
          <!--Body content-->
          <div class="login" style="margin: auto; width: 40%;">
            <%= yield %>
            <% if user_signed_in? %>
              <div ng-view></div>
            <% end %>
          </div>
        </div>

        <div class="span1">
          <!--Logout content-->
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, class: 'logout',
              method: :delete, title: 'Fazer logout', :'data-placement' => "below" %>
          <% end %>
        </div>
      </div>
    </div>

  </body>
</html>
