<!DOCTYPE html>
<html lang="en" ng-app="libraryApp">
  <head>
    <title>Library</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container-fluid" id="topbar">
      <div class="row-fluid" ng-controller="ApplicationCtrl">
        <div class="span2" >
          <!--Search content-->

          <% if user_signed_in? %>
            <form class="form-search">
              <input type="text" class="input-medium search-query" ng-model="query" placeholder="Search...">
            </form>
          <% end %>

        </div>

        <div class="span9">
          <!--Body content-->

          <div class="login">
            <%= yield %>
          </div>

          <div class="alert admin-alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <label>Double click on any image to see more details.</label>
          </div>

          <div ng-view></div>
        </div>

        <div class="span1 logout">
          <!--Logout content-->

          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path,
              method: :delete, title: 'Sign out', :'data-placement' => "below" %>
          <% end %>
        </div>
      </div>
    </div>

  </body>
</html>
